.recuadro {
    width: 600px;
    height: 130px;
    background-color: cyan;
    border-radius: 15px;
}

.titulo {
    width: 585px;
    background-color: rgb(25, 108, 202);
    padding-left: 15px;
    color: white;
}

.boton {
    font-size: 18px;
    margin-top: 30px;
    margin-left: 150px;
    width: 200px;
    height: 50px;
    background-color: aqua;
    border: 1px solid black;
    cursor: pointer;
}

.boton:hover {
    background-color: white;
    border: 1px solid aqua;
}

.correcta {
    background-image: url(./img/correcta.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 80px;
    height: 80px;
}

.incorrecta {
    background-image: url(./img/incorrecta.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 80px;
    height: 80px;
}

.resultados {
    margin-top: 4%;
    margin-left: 6%;
    margin-bottom: 6%;
    font-size: 19px;
    font-family: "Times New Roman", Times, serif;
    line-height: 3%;
}

input[type="radio"],
label {
    cursor: pointer;
}

#img_p1,
#img_p2,
#img_p3,
#img_p4,
#img_p5,
#img_p6 {
    margin-left: 34vw;
    position: absolute;
}